global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m

# Panel Web de Monitorización
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s

# Puerto 5000: Tráfico de Escritura (Solo Primario)
frontend pg_write_front
    bind *:5000
    default_backend pg_write_back

backend pg_write_back
    server pg_primary pg-primary:5432 check

# Puerto 5001: Tráfico de Lectura (Balanceado entre Primario y Réplica)
frontend pg_read_front
    bind *:5001
    default_backend pg_read_back

backend pg_read_back
    balance roundrobin
    server pg_primary pg-primary:5432 check
    server pg_replica pg-replica:5432 check
